.profile {
  border: 2px solid #8888889f;
  background: transparent;
  border-radius: 15px;
  cursor: pointer;
}

.user__modal {
  transform: translateX(250px);
  padding: 30px 50px;
  position: fixed;
  top: -80px;
  right: 20px;
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background: #919191;
  border-radius: 5px 30px 5px 30px;
  transition: 0.3s;
  z-index: 10;
  &__img {
    padding-bottom: 20px;
    width: 100%;
    border-bottom: 1px solid #f9f9f9;
    img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      cursor: pointer;
    }
  }
  &__account {
    text-align: start;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-bottom: 1px solid #ffffff;
    button {
      display: flex;
      align-items: center;
      gap: 10px;
      padding: 5px;
      border: none;
      background: transparent;
      color: #ffffff;
      font-size: 16px;
      transition: 0.3s;
      cursor: pointer;
      &:hover {
        background: #007396;
        color: #d6d6d6;
        border-radius: 5px;

      }
    }
  }
  &__logout {
    text-align: start;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-bottom: 1px solid #ffffff;
    button {
      display: flex;
      align-items: center;
      gap: 10px;
      padding: 5px;
      border: none;
      background: transparent;
      color: #ffffff;
      font-size: 16px;
      transition: 0.3s;
      cursor: pointer;
      &:hover {
        background: #950000;
        color: #f4f4f4;
        border-radius: 5px;
      }
    }
  }
}

#user__modal__modal {
  transform: translateX(0px);
  transition: 0.3s;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
