

.userpage {
  width: 100%;
  height: 100vh;
  display: grid;
  place-items: center;
  background: #0000005a;
  &__wrapper {
    padding: 30px;
    width: 40%;
    border: 1px solid #282828;
    background: #828282;
    border-radius: 15px 30px 15px 30px;
    @media(max-width: 850px) {
      width: 60%;
    }
    @media(max-width: 570px) {
      width: 80%;
    }
    @media(max-width: 470px) {
      width: 95%;
    }
  }
}

.logout__user__sss {
  padding: 8px;
  position: absolute;
  right: 30px;
  top: 30px;
  font-size: 35px;
  border: none;
  border-radius: 10px;
  background: #fff;
  cursor: pointer;
}

.btn-admin {
  display: flex;
  align-items: center;
  gap: 50px;
  .button {
  position: relative;
  width: 120px;
  height: 40px;
  background-color: #000;
  display: flex;
  align-items: center;
  color: white;
  flex-direction: column;
  justify-content: center;
  border: none;
  padding: 12px;
  gap: 12px;
  border-radius: 8px;
  cursor: pointer;
}

.button::before {
  content: '';
  position: absolute;
  inset: 0;
  left: -4px;
  top: -1px;
  margin: auto;
  width: 128px;
  height: 48px;
  border-radius: 10px;
  background: linear-gradient(-45deg, #e81cff 0%, #40c9ff 100% );
  z-index: -10;
  pointer-events: none;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.button::after {
  content: "";
  z-index: -1;
  position: absolute;
  inset: 0;
  background: linear-gradient(-45deg, #fc00ff 0%, #00dbde 100% );
  transform: translate3d(0, 0, 0) scale(0.95);
  filter: blur(20px);
}

.button:hover::after {
  filter: blur(30px);
}

.button:hover::before {
  transform: rotate(-180deg);
}

.button:active::before {
  scale: 0.7;
}


}