.portfolios {
  margin-bottom: 150px;
  height: 100vh;
  padding: 30px;
  &__wrapper {
    .head {
      margin-bottom: 30px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .head__search {
        padding: 8px;
        width: 50%;
        border: 1px solid #888;
        border-radius: 5px;
      }
      button {
        border: none;
        background: transparent;
        color: rgb(0, 3, 157);
        font-size: 25px;
        cursor: pointer;
        transition: 0.3s;
        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }
}

.avatar {
  width: 60px;
  height: 60px;
}

.modalik {
  position: fixed;
  top: 10%;
  left: 38%;
  padding: 50px;
  background: #8f8f8f;
  border-radius: 30px;
  opacity: -1;
  z-index: -1;
  transition: 0.5s;

  &__close {
    position: absolute;
    right: 15px;
    top: 15px;
    cursor: pointer;
  }
  form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    input {
      padding: 5px;
      border-radius: 5px;
      border: 1px solid #fff;
    }
    button {
      padding: 5px;
      border: none;
      border-radius: 15px;
    }
  }
}

#modalik__active {
  top: 30%;
  opacity: 1;
  z-index: 0;
  transition: 0.5s;
}
